/* css styles */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
}


@font-face {
    font-family: 'JetBrains Mono';
    src: url('assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrains Mono', monospace;
}

code-block-bg{
  background-color: red;
}
